    <% include includes/head %>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand rounded px-3" href="/dashboard" style="background: #C4C4C4 !important;">Gestion ordinateur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <div class="navbar-nav w-100 justify-content-end">
                    <a class="nav-link bg-dark text-center" href="/logout" style="border-radius: 10px !important"> 
                        <span class="iconify" data-inline="false" data-icon="gg:log-off" style="color: white !important; font-size: 25px !important;"></span> 
                    </a>
                </div>
            </div>
        </nav>

        <h1 class="text-center my-5 text-danger py-5"> Une erreur est survenue <br> code : <%= statusCode %> </h1>
        
    </body>
</html>